/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 20px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

nav ul li a:hover {
  color: #4CAF50;
  font-weight: bold;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1;
}

.management-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.management-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-group button {
  display: inline-block;
  margin: 10px;
  padding: 12px 30px;
  background-color: #ff5722;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  flex-basis: calc(50% - 20px); /* Distribui os botões em 50% da largura da linha */
  max-width: calc(50% - 20px); /* Limita a largura máxima dos botões */
  cursor: pointer;
}

.button-group button:hover {
  background-color: #f4511e;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}


.footer-bottom {
    margin-top: 20px;
}
