/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 20px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

nav ul li a:hover {
  color: #4CAF50;
  font-weight: bold;
}

/* Estilo da seção de reservas */
.reservation-section {
    padding: 20px 0;
    flex-grow: 1;
}

.reservation-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reservation-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
}

.reservation-details h3 {
    margin: 0;
}

.reservation-details p {
    margin: 5px 0;
}

.reservation-actions {
    display: flex;
    gap: 10px;
}

.new-check-in-date {
    padding: 5px;
}

.change-date-button,
.cancel-reservation-button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.change-date-button:hover,
.cancel-reservation-button:hover {
    background-color: #555;
}

/* Estilo do rodapé */
footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
}

.footer-bottom {
    margin-top: 20px;
}
